/* COLORS */




/* NAVIGATION */

/* left side of navifation items */
.nav-left{
float: left;
text-align: right;
}

.nav-left li{
}

/* right side of navigation items */
.nav-right{
    float: right;
}
.nav-right li{
}

/* all navigation items */

#nav{
    position: relative;
    padding-top: 50px;
}

#nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #000;
}
.hvr-fade{
    padding: 5px 15px;
    border: 1px solid #ffffff00;

    border-radius: 5px;

}
.hvr-fade:hover, .active{
    background-color: #ff9df744;
    border: 1px solid #ff9df765;
}




/* logo part in navigation row */
/* logo image was taken from www.mister-softee.co.uk, I have permition from company owner to use it for learning purposes */
.nav-logo{
    background: url(../img/mr-s-logo.png) no-repeat center center / cover;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -75px;
    z-index: 2;
}

/* BODY */

/* hero image */
/* actual image was made and edited by me */
.hero-image{
    background: url(../img/mr-s-hero-final.png) no-repeat center center / cover;
    position: relative;
    height: 500px;
    margin-top: -20px;
}

/* Used colorzilla.com css gradient generator for gradient bit, made height 270 and top 0 to keep it at the top and have the visual I want. */
#gradient {
    z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 270px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );          
}

.hero-container{
    margin: 0 auto;
    vertical-align: middle;
    margin-top: -50px;
    background: rgba(255,255,255, 0.6);
    border-radius: 5px;
    width: 800px;
    height: 335px;
    
}

.hero-content{
    text-align: center;
    padding-top: 135px;
}

.hero-content h1{
    padding-top: 25px;
    color: rgb(42, 52, 63);
}

hr{
    margin: 0 auto;
    width: 50%;
}

.hero-content p{
    width: 85%;
    padding: 20px 0 20px 0;    
    font-size: 1.2em;
    margin: 0 auto;
}


.btn{
    text-transform: uppercase;
    font-size: 1.25rem;
    color: rgb(42, 52, 63);
    padding: 5px 15px;
    border: 1px solid #ff9df765;
}

.btn:hover{
    background-color: #ff9df744;
    border: 1px solid #ff9df765;
    border-radius: 5px;
    color: rgb(42, 52, 63);
    ;
}
