/* NAVIGATION */

/* logo part in navigation row */
/* logo image was taken from www.mister-softee.co.uk, I have permition from company owner to use it for learning purposes */
.nav-logo{
    background: url(../img/mr-s-logo.png) no-repeat center center / cover;
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 0;
    content: "";
    margin-top: 1rem;
    left: 10%;
    z-index: 1;
}

/* navbar burger menu  */
.navbar-toggler{
    background-color: #ff9df765;
    position: absolute;
    top: 0;
    content: "";
    margin: 2rem 0;
    right: 10%;
}
#nav{
    background-color: #ff9df798;
}

.navbar{
    padding: 0;
}

.navbar-nav{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    margin-top: 5rem;
}

.nav-link{
    padding: 0;
    margin: 0;
}
.nav-item{
    text-align: center;
    padding: 0.3rem 2rem 0.3rem 2rem;
}

.active{
    background-color: #ffffff6b;
}

/* Hover.css customization */
.hvr-fade{
    padding: 2px 1rem;
    border: 1px solid #ffffff00;
}
.hvr-fade:hover{
    background-color: #ff9df74f;
    border: 1px solid #ff9df765;
    color: #000;
}


/* --==-- BODY --==-- */

.container-fluid{
    padding: 0;
    margin: 0;

}
/* hero image  */
/* actual image was made and edited by me */
.hero-image{
    background: url(../img/mr-s-hero-final.png) no-repeat center center / cover;
    height: 51rem;
    margin-top: -1rem;

}

/* Used colorzilla.com css gradient generator for gradient bit, made height 270 and top 0 to keep it at the top and have the visual I want. */
#gradient {
    top: 0; right: 0; bottom: 0; left: 0;
    height: 38rem;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );          
}

/* Hero content */

.hero-content{
    background: rgba(255,255,255, 0.6);
    border-radius: 7px;
    width: 80%;
    height: 70%;
    position: absolute;
    text-align: center;
    margin: 8rem auto 0 auto;
    top: 0; left: 0; right: 0;    

}

.hero-content h1{
    padding: 3rem 0 0.7rem 0;
    color: rgb(42, 52, 63);
    font-family: 'Montserrat', sans-serif;}

hr{
    margin: 0 auto;
    width: 50%;
}

.hero-content p{
    width: 85%;
    padding: 2rem 0 3rem 0;    
    font-size: 1.2em;
    margin: 0 auto;
    font-family: 'Lexend', sans-serif;
}

/* hero button */
.btn{
    border: 1px solid #ff9df765;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    color: #000;
}

/* footer */

footer{
    height: 5rem;
    background-color: #ff9df765;
    position: relative;
}

/* Figured this fix out by using dev tools in chrome, allighns all items on one row */
footer .list-inline-item:not(:last-child) {
    margin: 0;
    padding: 0;
}
/* fix to keep content size same as screen size, figured with dev tools */
footer .row{
    padding: 0;
    margin: 0;
}

footer{
    width: 100%;
}

.foot-left{
    float: left;

}

.foot-center{
    text-align: center;
}

.foot-right{
    float: right;
    text-align: right;
}

/* --==-- MEDIA QUERIES --==-- */

/* evrything below is to adjust to desktop sizes */
@media only screen and (min-width: 770px){

/*   NAVIGATION   */

/* DESKTOP menu styling */
    #nav{
        background-color: #ffffff00;
    }
    .navbar-nav{ 
        margin: 0 auto;
        padding: 2.5rem 0 0 0;
        font-size: 1.25rem;
        border: 0px solid #ffffff00;
        background-color: #ffffff00;
    }

/* remove padding so text would be centered within buttons */
    .navbar-nav li{
        padding: 0.2rem 0.5rem;
    }
/* position buttons around logo */
    .navbar-nav li:nth-child(1){
        margin-right: 1rem;
    }
    .navbar-nav li:nth-child(2){
        margin-right: 7rem;
    }
    .navbar-nav li:nth-child(3){
        margin-left: 7rem;
    }
    .navbar-nav li:nth-child(4){
        margin-left: 1rem;
    }

    .navbar-nav li a{
        text-align: center;
    }

/* size and center logo */
    .nav-logo{
        width: 10rem;
        height: 10rem;
        left: 50%;
        margin-left: -5rem;
    }

/* Hover.css customization */
    .hvr-fade{
        padding: 2px 1rem;
        border: 1px solid #ffffff00;
        border-radius: 0.5rem;
    }
    .hvr-fade:hover{
        background-color: #ff9df74f;
        border: 1px solid #ff9df765;
        color: #000;
    }
    .active{
        background-color: #ffffff00;
        border: 1px solid #ff9df765;
    }

/* --==-- BODY --==-- */

/*   HERO IMAGE    */
    .hero-image{
    height: 35rem;
    }
    


}
    